@charset "utf-8";

//mobileのスタイリングはここから

body {
  font-family: Noto Sans JP;
  line-height: 1.7;
  font-size: 16px;
}

header {
  height: 50px;
}

.l-header {
  display: block;
  position: fixed;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background: white;
  z-index: 1100;
}

.c-header-nav {
  // opacity: 0;
  background-color: white;
  pointer-events: none;
  max-height: 0;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: .3s;

  a:hover {
    background-color: #F3FAFB;
    transition-property: background-color;
    transition-duration: .3s;
  }
}

.c-header-nav.show {
  opacity: 1;
  pointer-events: all;
  max-height: 500px;
}

.c-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.c-nav-item.nav-button {
  display: none;
}

.c-nav-item > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #131D34;
  font-weight: bold;
  padding: 10px;
}

.c-sub-menu {
  max-height: 0;
  overflow: hidden;
  list-style-type: none;
  padding: 0;

  a {
    display: flex;
    box-sizing: border-box;
    padding: 10px 10px 10px 25px;
    text-decoration: none;
    color: #131D34;
  }
}

.c-nav-item.item1:hover .c-sub-menu.item1 {
  max-height: 500px;
  transition-property: max-height;
  transition-duration: .5s;
}

.c-nav-item.item2:hover .c-sub-menu.item2 {
  max-height: 500px;
  transition-property: max-height;
  transition-duration: .5s;
}

.c-nav-item.item4:hover .c-sub-menu.item4 {
  max-height: 500px;
  transition-property: max-height;
  transition-duration: .5s;
}

.c-nav-item.item5:hover .c-sub-menu.item5 {
  max-height: 500px;
  transition-property: max-height;
  transition-duration: .5s;
}

.c-nav-item.item6:hover .c-sub-menu.item6 {
  max-height: 500px;
  transition-property: max-height;
  transition-duration: .5s;
}

.p-header-title {
  margin: 10px;
  width: 160px;

  p {
    margin: 0;

    a {
      line-height: 1.3;
      height: 30px;
      display: flex;
    }

    img {
      width: auto;
      height: 30px;
    }
  }
}

.p-header-label {
  display: block;
  color: #131D34;
  min-width: 230px;
  margin-left: 16px;
  font-weight: 900;
  font-size: 14px;

  strong {
    font-size: 18px;
  }
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background-color .5s;
}

.menu-button.show {
  background-color: #2498b3;
}

.menu-icon::before {
  position: absolute;
  top: 15px;
  left: 14px;
  content: "";
  width: 23px;
  height: 2px;
  background-color:#2498B3;
  transition: .2s;
}

.menu-icon.close span::after {
  position: absolute;
  top: 24px;
  left: 14px;
  content: "";
  width: 23px;
  height: 2px;
  background-color:#2498B3;
}

.menu-icon::after {
  position: absolute;
  bottom: 15px;
  left: 14px;
  content: "";
  width: 23px;
  height: 2px;
  background-color:#2498B3;
  transition: .2s;
}

.menu-icon.show::before {
  top: 24px;
  transform: rotate(-45deg);
  background-color: white;
}

.menu-icon.show::after {
  bottom: 24px;
  transform: rotate(-135deg);
  background-color: white;
}

.menu-button.menu-icon {
  color: #2498b3;
  background-color: white;
  transition-property: background-color;
  transition-duration: .5s;
}

.menu-button.menu-icon.show {
  color: white;
  background-color: #2498b3;
  // transform: rotate(90deg);
  // transition-property: transform;
  // transition-duration: .5s;
}

.p-main-top {
  position: relative;
  background: transparent url(../img/background-image1.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center -25px;
  height: 300px;
  padding-bottom: 320px;
  overflow: hidden;
  box-sizing: border-box;
}

.main-top-layer1 {
  display: flex;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent url(../img/background-image3.png) no-repeat center center;
  justify-content: center;
  align-items: flex-end;
  background-position: center -30px;
  background-size: cover;
  z-index: 200;
  box-sizing: border-box;
}

.main-top-layer2 {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent url(../img/background-image2.png) no-repeat center center;
  background-size: cover;
  background-position: center -25px;
  z-index: 100;
  box-sizing: border-box;
}

.p-top-discription {
  width: 100%;
  // height: 100%;
  text-align: center;
  padding: 9px 0 13px 0;
  background: #FFF;
  overflow: hidden;

  h1 {
    display: none;
  }

  p {
    font-weight: bold;
    font-size: 13px;
    margin: 0.5em 0;
  }
}

    p.button {
      display: inline-block;
      line-height: 1;

      a {
        display: block;
        background-color: #2498b3;
        border: 1px solid #2498B3;
        border-radius: 4px;
        padding: 12px 18px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        color: #FFF;
        transition-property: font-size, padding;
        transition-duration: .5s, .5s;
      }
    }

.p-main-recommend {
  background-color: black;
  padding: 64px 0;
}

.main-recommend-wrapper {
  margin: 0 10px;
  box-sizing: border-box;
}

.recommend-item-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  z-index: 1000;
}

.recommend {
  margin: 0 2%;
  margin-bottom: 40px;
  box-sizing: border-box;
  p {
    color: white;
    font-weight: bold;
  }
}

.recommend.ring {
  margin-bottom: 16px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  width: 230px;
  height: 230px;
  margin: 0 auto;
  border: solid 6px black;
  border-radius: 50%;
  box-sizing: border-box;

  .fa-light {
    font-family: "Font Awesome 6 Pro";
    font-size: 100px;
    font-weight: 300;
    width: 1.25em;
    color: black;
    text-align: center;
    line-height: 1;
    box-sizing: border-box;
  }
}

.recommend-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0.2em 0 0 0;
}

.recommend-text {
  margin: 8px 0 0 0;
}

@media screen and (max-width: 1200px) {
  .c-nav-item {
    position: relative;
  }

  .c-nav-item > a {
    position: relative;
  }

  .c-nav-item:not(.c-nav-item.item3) > a::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 13px;
    width: 24px;
    height: 2px;
    margin-top: -1px;
    background-color: #121212;
    z-index: 9;
  }
  
  .c-nav-item:not(.c-nav-item.item3).close > a::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 24px;
    width: 2px;
    height: 24px;
    margin-top: -12px;
    background-color: #121212;
  }
  
  .c-nav-item:not(.item3).show > a::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: auto;
    margin-top: 0;
    background-color: #F7F7F7;
  }
}

// タブレット用デザイン

@media (min-width: 768px) {

  //ヘッダーロゴのレイアウト
  .p-header-title {
    p {
      a {
        display: flex;
        align-items: center;
        height: 30px;
        width: 160px;
      }
    }
  }

  //RaiseTech紹介のボックスデザイン
  .p-top-discription {
    max-width: 530px;
    width: auto; //widthを初期値にリセット
    border-radius: 10px;
    padding: 43px 40px 19px 40px;
    box-sizing: border-box;

      h1 {
        display: block;
        line-height: 0.8; //コンテンツの高さをimgと同じにする
        margin: 0;
        margin-bottom: 5px;
        box-sizing: border-box;

        img {
          width: 280px;
          height: auto;
        }
      }

      p {
        font-size: 16px;
        font-weight: bold;
        margin: 1.3em 0 0.5em;
      }

      .button {
        a {
          padding: 24px 37px;
          font-size: 18px;
        }
      }
  }

  .p-main-top {
    height: 650px; //背景画像のレイアウト設定
    background-position: center;
  }

  .main-top-layer1,
  .main-top-layer2 {
    width: 100%;
    height: 100%;
    position: absolute; //背景画像のレイアウト固定
    top: 0;
    background-size: auto;
    background-position: center;
  }

  .main-top-layer1 {
    align-items: flex-start;
  }

  .recommend-item-wrapper {
    flex-direction: row;
    margin-top: -263px;
  }

  .recommend {
    width: 29.33%;
    box-sizing: border-box;
  }
}

// PC用デザイン

@media (min-width: 1200px) {
  header {
    height: 70px;
  }

  .l-header {
    height: 70px;
    display: flex;
    justify-content: space-between;
  }

  .Nav {
    display: none;
  }

  .c-header-nav {
    display: block;
    max-height: none;
    overflow: visible;
    height: 100%;
    pointer-events: all;

    a:hover {
      background-color: transparent;
      transition-property: background-color;
      transition-duration: .3s;
    }
  }
  
  .c-nav { height: 100%; }
  
  .c-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    position: relative;
  }
  
  .c-nav-item {
    display: list-item;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
  }

  .c-nav-item > a {
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
    color: #131D34;
    line-height: 70px;
    display: flex;
    height: 70px;
  }

  .c-nav-item.close > a::before,
  .c-nav-item.close > a::after {
    display: none;
  }
  
  .c-nav-item:not(.nav-button) > a {
    background-color: white;
    transition-property: background-color;
    transition-duration: .3s;
  }

  .c-nav-item:not(.nav-button) > a:hover {
      background-color: #D4F1F8;
  }
  
  .c-nav-item.nav-button {
    display: block;
    background-color: #2498B3;
  
    a {
      color: white;
      text-decoration: none;
    }
  }
  
  .c-sub-menu {
    display: block;
    max-height: 0;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
  
    li {  
      padding: 0;
    }

    a {
      display: block;
      text-decoration: none;
      color: #131D34;
      background-color: #E9F8FB;
      padding: 15px 60px 15px 15px;
      transition-property: background-color;
      transition-duration: .3s;
    }
  
    a:hover {
      color: #2498B3;
      background-color: #FFF;
    }
  }
  
  .c-nav-item.item1:hover .c-sub-menu.item1 {
    max-height: 500px;
    transition-property: max-height;
    transition-duration: .5s;
    display: block;
  }
  
  .c-nav-item.item2:hover .c-sub-menu.item2 {
    max-height: 500px;
    transition-property: max-height;
    transition-duration: .5s;
    display: block;
  }
  
  .c-nav-item.item4:hover .c-sub-menu.item4 {
    max-height: 500px;
    transition-property: max-height;
    transition-duration: .5s;
    display: block;
  }
  
  .c-nav-item.item5:hover .c-sub-menu.item5 {
    max-height: 500px;
    transition-property: max-height;
    transition-duration: .5s;
    display: block;
  }
  
  .c-nav-item.item6:hover .c-sub-menu.item6 {
    max-height: 500px;
    transition-property: max-height;
    transition-duration: .5s;
    display: block;
  }
  
  .p-header-title {
    margin: 0; //mobile版でつけたマージンのリセット
    margin-left: 21px;
  
    p {
      a {
        text-decoration: none;
        display: flex;
      }

      img {
        height: 33px;
        width: auto;
      }
    }
  }
  
  // bodyのRaiseTech紹介デザイン
  
  .main-recommend-wrapper {
    max-width: 1078px;
    margin: 0 auto;
  }
  
  .recommend {
    margin: 0 50px;
    width: 229px;
  }
  
  .recommend.ring {
    margin-bottom: 0;
  }
  
  .recommend-header {
    box-sizing: border-box;
  }
  
  .recommend-body {
    box-sizing: border-box;
  }
  
  .icon {
    margin: 0;
  }
}


@media (min-width: 1260px) {
  .c-nav-item > a {
    padding: 0 15px;
  } 
}

@media screen and (max-width: 1280px) {
  .p-header-label {
    display: none;
  }
}